// Background color of the control itself
.choice-box {
  -fx-background-color: black;
  -fx-mark-color: orange; // arrow color
  -fx-font-size: 14px;
 -fx-font-family: Consolas;
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: black; }

// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: black;
                           -fx-min-width: 100px;
                           -fx-pref-width: 100px;
                           -fx-max-width: 100px;
                           -fx-min-height: 250px;
                           -fx-pref-height: 250px;
                           -fx-max-height: 250px;}
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: orange; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
// Selected item mark color
.choice-box .left-container .radio { -fx-background-color: white; }